body {
    background-image: url('Images/Night_town.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.home{
    h1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    }
}

.navbar {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 15%;
        background-color: greenyellow;
        position: fixed;
        height: 100%;
        overflow: auto;
        border-radius: 25px;
    }
    li a {
        display: block;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a:hover:not(.navbar){
        background-color: black;
        color: white;
    }
}